@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a class="btn-lg btn-primary" asp-action="Add" asp-controller="Car">CARS</a>
        <a class="btn-lg btn-warning">CATEGORY</a>
        <a class="btn-lg btn-info">ASSEMBLY</a>
    </div>
</div>
