@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a class="btn-lg btn-primary" asp-action="AddCar" asp-controller="Car">Car</a>
        <a class="btn-lg btn-primary" asp-action="AddAssembly" asp-controller="Assembly">Assembly</a>
        <a class="btn-lg btn-primary" asp-action="ShowResults" asp-controller="ShowCar">ShowCar</a>
    </div>
</div>
